<h1>Classroom Log</h1>

<table>
  <tr>
    <th>Child Name</th>
    <th>Instructor Name</th>
    <th>Classroom Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @classroom_logs.each do |classroom_log| %>
  <tr>
    <td><%= classroom_log.child.child_fname %><%= classroom_log.child.child_lname %></td>
    <td><%= classroom_log.instructor.instructor_fname %> <%= classroom_log.instructor.instructor_lname %></td>
    <td><%= classroom_log.classroom_number %></td>
    <td><%= link_to 'Show', classroom_log %></td>
    <td><%= link_to 'Edit', edit_classroom_log_path(classroom_log) %></td>
    <td><%= link_to 'Destroy', classroom_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Classroom Assignment', new_classroom_log_path %>
