<p id="notice"><%= notice %></p>

<p>
  <b>Child Name:</b>
  <%= @classroom_log.child.child_fname %> <%= @classroom_log.child.child_lname %>
</p>

<p>
  <b>Instructor Name:</b>
  <%= @classroom_log.instructor.instructor_fname %> <%= @classroom_log.instructor.instructor_lname %>
</p>

<p>
  <b>Classroom Number:</b>
  <%= @classroom_log.classroom_number %>
</p>


<%= link_to 'Edit', edit_classroom_log_path(@classroom_log) %> |
<%= link_to 'Back', classroom_logs_path %>
