<%= form_for(@child) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% @child.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <p>
      <b>Child Information:</b>
    </p>
  <div class="field">
    <%= f.label :child_fname, "Enter First Name:" %><br />
    <%= f.text_field :child_fname %>
  </div>
  <div class="field">
    <%= f.label :child_lname, "Enter Last Name:" %><br />
    <%= f.text_field :child_lname %>
  </div>
  <div class="field">
    <%= f.label :age_group, "Select Age Group:" %><br />
    <%= f.select :age_group, [[2, '2'], [3, '3'], [4, '4'], [5, '5']] %>
  </div>
  <div class="actions">
    <%= f.submit "Submit New Child"%>
  </div>
<% end %>
