<h1>Current Enrollment</h1>

<table>
  <tr>
    <th>
      <b>Child Information:</b>
    </th>
  </tr>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @children.each do |child| %>
  <tr>
    <td><%= child.child_fname %></td>
    <td><%= child.child_lname %></td>
    <td><%= child.age_group %></td>
    <td><%= link_to 'Show', child %></td>
    <td><%= link_to 'Edit', edit_child_path(child) %></td>
    <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Enroll a New Child', new_child_path %>
