<%= form_for(@instructor) do |f| %>
  <% if @instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% @instructor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instructor_fname, "Enter First Name:" %><br />
    <%= f.text_field :instructor_fname %>
  </div>
  <div class="field">
    <%= f.label :instructor_lname, "Enter Last Name:" %><br />
    <%= f.text_field :instructor_lname %>
  </div>
  <div class="field">
    <%= f.label :instructor_email, "Enter E-mail:" %><br />
    <%= f.text_field :instructor_email %>
  </div>
  <div class="field">
    <%= f.label :instructor_phone, "Enter Phone:   (xxx)xxx-xxxx" %><br />
    <%= f.text_field :instructor_phone %>
  </div>
  <div class="actions">
    <%= f.submit "Submit New Instructor"%>
  </div>
<% end %>
