<p id="notice"><%= notice %></p>

<p>
  <b>Instructor fname:</b>
  <%= @instructor.instructor_fname %>
</p>

<p>
  <b>Instructor lname:</b>
  <%= @instructor.instructor_lname %>
</p>

<p>
  <b>Instructor email:</b>
  <%= @instructor.instructor_email %>
</p>

<p>
  <b>Instructor phone:</b>
  <%= @instructor.instructor_phone %>
</p>


<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
