<p id="notice"><%= notice %></p>


<p>
  <b>Instructor:</b>
  <%= @course_history_table.instructor.instructor_fname %> <%= @course_history_table.instructor.instructor_lname %>
</p>

<p>
  <b>Course:</b>
  <%= @course_history_table.course.course_name %>
</p>

<p>
  <b>Course Status:</b>
  <%= @course_history_table.course_status %>
</p>

<p>
  <b>Age Group:</b>
  <%= @course_history_table.child.age_group %>
</p>


<%= link_to 'Edit', edit_course_history_table_path(@course_history_table) %> |
<%= link_to 'Back', course_history_tables_path %>


