<p id="notice"><%= notice %></p>

<p>
  <b>Course Name:</b>
  <%= @course.course_name %>
</p>

<p>
  <b>Course Description:</b>
  <%= @course.course_description %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
