<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Preschool" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Preschool" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="container" class="container">
  <header>
    <%= render 'layouts/navigation' %>

  </header>
  <div id="main" role="main">
    <%= yield %>
  </div>
  <footer>
  </footer>
</div> <!--! end of #container -->
</body>
</html>